@page

<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/myLog.js"></script>